@font-face {
    font-family: "AvenirNextRegular";
    src: url("../../../fonts/AvenirNextCyr-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "AvenirNextMedium";
    src: url("../../../fonts/AvenirNextCyr-Medium.ttf");
    font-display: swap;
}
